<!DOCTYPE html> 
<html>
<head>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css"> 
  <link rel="stylesheet" href="/static/board.css">
  <link rel="stylesheet" href='spectrum.css' />
</head>
<h1>
<center>Guides</center>
</h1>
<br>
</h3><center><a href = "/"> Return to home </a></center></h3>
{% if sess['username'] %}
Currently logged in as: {{sess['username']}}<br>
{% else %}
You have to be logged in to create a guide: <a href="/login">login</a> or <a href="/register">register</a>
{% endif %}

{% if session|length > 0 %}
<form action="guides" method="POST">
Create new guide:
<input name = "title" type = "text" placeholder="Title">
<button type="submit">Create</button>
</form>
{% endif %}

<div class="pure-menu pure-menu-open">
<a class="pure-menu-heading">Guides</a>
<ul>
  {% for g in gList %}
  <h2><li><a href="guide/{{g['title']}}">{{g['title']}} - {% if g['owner'] %}{{g['owner']}}{% else %}Anonymous{% endif %}</a></li></h2>
  {{g['body']}}
  {% endfor %}
</ul>
</div>
</body> 
</html>
